<div *ngIf="isRegistration; else  Authorization">
  <form [formGroup]="formUser" class="form" (submit)="addUser()">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label for="login">Логин</mat-label>
      <input id="login" formControlName="login" type="text" matInput />
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label for="password">Пароль</mat-label>
      <input id="password" formControlName="password" type="password" matInput />
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label for="passwordRepeat">Введите пароль повторно</mat-label>
      <input id="passwordRepeat" formControlName="passwordRepeat" type="password" matInput />
    </mat-form-field>

    <button mat-button type="submit" [disabled]="!formUser.valid">
      Зарегистрироваться
    </button>
    <button  mat-button type="button" (click)="toggleRegistration()">
      отмена
    </button>
  </form>
</div>

<ng-template #Authorization>
  
  <form [formGroup]="formSignIn" class="form" (submit)=" signIn()">
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label for="login">Логин</mat-label>
      <input id="login" formControlName="login" type="text" matInput />
    </mat-form-field>
    <mat-form-field class="example-form-field" appearance="fill">
      <mat-label for="passwordReg">Пароль</mat-label>
      <input id="passwordReg" formControlName="password" type="password" matInput />
    </mat-form-field>

    <button mat-button [disabled]="!formSignIn.valid" type="submit">
      Войти
    </button>
    <button mat-button id="toRegistrationUser" type="button" (click)="toggleRegistration()">
      Регистрация
    </button>
  </form>
</ng-template>