<form [formGroup]="oFormTask" class="form" (submit)="fnCreteTask()">
    <h2 mat-dialog-title>Создание задачи</h2>
    <mat-dialog-content class="mat-typography">
        <!-- <h3>Develop across all platforms</h3> -->


        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label for="name">Название задачи</mat-label>
            <input id="name" required formControlName="name" type="text" matInput />
        </mat-form-field>

        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Дата начала</mat-label>
            <input matInput [matDatepicker]="dateStart" formControlName="dateStart" required>
            <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
            <mat-datepicker-toggle matSuffix [for]="dateStart"></mat-datepicker-toggle>
            <mat-datepicker #dateStart></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Дата завершения</mat-label>
            <input matInput [matDatepicker]="dateEnd" formControlName="dateEnd" required>
            <!-- <mat-hint>DD/MM/YYYY</mat-hint> -->
            <mat-datepicker-toggle matSuffix [for]="dateEnd"></mat-datepicker-toggle>
            <mat-datepicker #dateEnd></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label for="priority">Приоритет</mat-label>
            <input id="priority" type="number" required formControlName="priority" matInput />
        </mat-form-field>
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label for="category">Категория</mat-label>
            <input id="category" formControlName="category" matInput />
        </mat-form-field>



    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Отмена</button>
        <button mat-button [disabled]="!oFormTask.valid" cdkFocusInitial type="sunmit">Создать</button>
    </mat-dialog-actions>
</form>