<!-- (submit)="fnCreteTask()" -->

<h2 mat-dialog-title>Создание задачи</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="formTask" class="form">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label for="name">Название задачи</mat-label>
            <input id="name" formControlName="name" type="text" matInput />

        </mat-form-field>
        <!-- Дата начала -->
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Дата начала</mat-label>
            <input matInput [matDatepicker]="dateStartRef" (dateChange)="changeDate()" formControlName="dateStart">
            <mat-datepicker-toggle matSuffix [for]="dateStartRef"></mat-datepicker-toggle>
            <mat-datepicker #dateStartRef></mat-datepicker>
        </mat-form-field>
        <!-- Дата завершения -->
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Дата завершения</mat-label>
            <input matInput [matDatepicker]="dateEndRef" [matDatepickerFilter]="compareCompleteDate" (dateChange)="changeDate()"
                formControlName="dateEnd">

            <mat-datepicker-toggle matSuffix [for]="dateEndRef"></mat-datepicker-toggle>
            <mat-datepicker #dateEndRef></mat-datepicker>
            <mat-error *ngIf="dateEnd.errors?.['errorDate']">Дата завершения меньше даты начала.</mat-error>
        </mat-form-field>
        <!-- Приоритет -->
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label for="priority">Приоритет</mat-label>
            <mat-select id="priority" formControlName="priority">
                <mat-option *ngFor="let item of priority" [value]="item.key">{{item.value}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Категория -->
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Категория</mat-label>
            <input type="text" matInput formControlName="category" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <!-- Завершить -->
        <mat-form-field *ngIf="!isCreate" class="example-form-field" appearance="fill">
            <input matInput [hidden]="true" >
            <mat-checkbox formControlName="complete">Завершить</mat-checkbox>
        </mat-form-field>

        <!-- <mat-form-field  *ngIf="!isCreate" class="example-form-field" appearance="fill">
            <mat-label>Завершить</mat-label>
            
            <mat-checkbox formControlName="category">Hide required marker</mat-checkbox>
            
        </mat-form-field> -->
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Отмена</button>
    <button mat-button *ngIf="isCreate" [disabled]="!formTask.valid"
        [mat-dialog-close]="formTask.value">Создать</button>
    <button mat-button *ngIf="!isCreate" [disabled]="!formTask.valid" mat-dialog-close
        (click)="saveRow()">Сохранить</button>
</mat-dialog-actions>